{% extends "base.html" %}
{% block main %}
<h2>User Management</h2>

<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    {% for u in users %}
    <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.role }}</td>
        <td>
            <form method="post" action="/admin/reset_password/{{ u.id }}">
                <button class="btn btn-sm btn-danger">
                    Reset Password
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
